@model CrudMVCCodeFirst.Models.LaunchEntry

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div>
    <h4>Delete LaunchInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LaunchInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaunchInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedByUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedByUserName)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Launch", new { id = @Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts{
    <script>
        $(function () {
            $(".delete").click(function () {
                if (!confirm("Are you sure to delete")) {
                    return false;
                }
            })
        })
    </script>
}